@model PharmacyForms.Models.ListHolderModel;

<div class="row py-3">
    <div class="col-lg-6 col-12"><h5>Need to fill out your reports for today</h5></div>
    <div class="col-lg-6 col-12 justify-content-end d-flex">
        <a class="btn btn-primary mx-2" asp-action="PatientCountCreate">Enter Patient Count Report</a>
        <a class="btn btn-success mx-2" asp-action="EndOfDayCreate">Enter End of Day Report</a>
    </div>
</div>

<div>
    <h3>Here are your submissions for today</h3>
    <div class="pt-5">
        <h5>Here are your Patient Count submissions</h5>
        @if(Model.PatientCountList.Count() > 0)
        {
            <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Pharmacy Name
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Time of Day
                    </th>
                    <th>
                        Patient Count
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.PatientCountList)
                {
                    <tr>
                        <td>@obj.PharmacyName</td>
                        <td>@obj.Name</td>
                        <td>@obj.TimeOfDay</td>
                        <td>@obj.PatientCount</td>
                        <td>
                            <a asp-controller="PharmForm" asp-route-Id="@obj.Id" asp-action="PatientCountDetails" class="mx-1">Details</a> |
                            <a asp-controller="PharmForm" asp-route-Id="@obj.Id" asp-action="PatientCountEdit" class="mx-1">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
            </table>
        }
        else
        {
            <p>You have not submitted any Patient Count Reports</p>
        }
    </div>

    <div class="pt-5">
        <h5>Here is your End of Day Report</h5>
        @if(Model.EndOfDayList.Count() > 0)
        {
            <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Approved Patient Count
                    </th>
                    <th>
                        Modify Date
                    </th>
                    <th>
                        Exisiting Patient Count
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.EndOfDayList)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.ApprovedPatientCount</td>
                        <td>@obj.ModifyDate</td>
                        <td>@obj.ExistingPatientCount</td>
                        <td>
                            <a asp-controller="PharmForm" asp-route-Id="@obj.Id" asp-action="EndOfDayDetails" class="mx-1">Details</a> |
                            <a asp-controller="PharmForm" asp-route-Id="@obj.Id" asp-action="EndOfDayEdit" class="mx-1">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
            </table>
        }
        else
        {
            <p>You have not submitted your End of Day Report Yet</p>
        }
    </div>

</div>